<div class="title">Edit Comment</div>

<%= render partial: "form" %>


<div class="delete">
<%= form_for [@book, @comment], method: :delete do |f| %>
  <%= f.submit "Delete Comment!" %>
</div>
<% end %>
