<div class="title">Books <a href="/books/new">(+)</a></div>

<!-- if request is for read books -->
<% if params[:request_type] == 'reads' %>

  <div class = "book-contain">
    <% @reads.each do |reading| %>

      <%= link_to image_tag(reading.book.photo_url, class: "book-photo"), book_path(reading.book) %>
  </div>
    <% end %>
<!-- if request came frome somewhere else -->
<% else %>
  <div class="book-contain">
      <% @books.each do |book| %>

          <%= link_to image_tag(book.photo_url, class: "book-photo"), book_path(book) %>
        <!-- <li>
          <a href="/books/<%= book.id %>">
            <%= book.title %>
          </a>
        </li> -->
      <% end %>
  </div>
<% end %>
