<h2>books <a href="/books/new">(+)</a></h2>

<!-- if request is for read books -->
<% if params[:request_type] == 'reads' %>

    <% @reads.each do |reading| %>

      <span><%= link_to "#{reading.book.title}", book_path(reading.book) %></span>

      <%= link_to image_tag(reading.book.photo_url, class: "post-photo"), book_path(reading.book) %>

    <% end %>
<!-- if request came frome somewhere else -->
<% else %>
    <ul>
      <% @books.each do |book| %>
        <li>
          <a href="/books/<%= book.id %>">
            <%= book.title %>
          </a>
        </li>
      <% end %>
    </ul>
<% end %>
